<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/admin.css"> <!-- Assicurati di collegare il tuo file CSS qui -->
</head>
<body>
    <header>
        <h1 class="site-name">Siw-Sport</h1>
        <a href="/logout" class="logout-btn">Logout</a>
    </header>

    <main class="container">
        <a href="/squadra" class="btn">Visualizza squadre</a>
        <a href="/admin/gestioneSquadre" class="btn">Gestisci squadre</a>
    </main>

    <footer>
        &copy; 2024 Admin Dashboard
    </footer>
</body>
</html>
