<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login o Registrazione</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Benvenuto!</h1>
            <p>Effettua il login o registrati per continuare</p>
        </header>
        <nav>
            <a href="/squadra" class="link">Visualizza le squadre</a>
            <h1><th:text></th:text></h1>
        </nav>
        <div th:text="'totale squadre = ' + ${squadre.size()}">TOTALE</div>
        <div class="buttons">
            <a href="/login" class="btn login-btn">Login</a>
            <a href="/register" class="btn register-btn">Registrati</a>
        </div>
    </div>
</body>

</html>